body {
    background: #E0E0E0;
!important;
}

.grey-bg {
    background: #E0E0E0;
!important;
}

.list-holder {
    background: #ffffff
}

.md-card-header {
    outline: rgba(255, 255, 255, 0);
!important;
}

.fab {
    position: fixed;
    right: 36px;
    bottom: 36px;
}